.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

input:focus {
  outline: none;
}

.backBtn {
  width: 590px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  margin-bottom: 20px;
  font-weight: bold;
}

.ReactModal__Overlay {
  width: 100%;
  height: 100%;
}

.modal {
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 30px;
  background-color: #fff;
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  overflow-y: scroll;
}

.result {
  margin-bottom: 50px;
}

.btnWrap {
  height: 50px;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.closeBtn {
  width: 100px;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 15px;
  background-color: rgba(255, 0, 0, 0.5);
  cursor: pointer;
}

.balModal {
  padding: 20px;
  height: 150px;
  justify-content: initial;
}

.txModal {
  width: 40%;
  height: 500px;
  justify-content: initial;
}

.abiModal {
  padding: 20px;
  height: 500px;
  justify-content: initial;
}